<div>
  <app-child>
    <h3>Some Heading</h3>
    <p #para>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quod?
      Temporibus nemo quis molestias quod?
    </p>
    <p #para>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laboriosam
      et delectus! Quasi vitae quia eligendi expedita perferendis, itaque
      consectetur!
    </p>
    <p #paraelev id="hello">
      this is shifted Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Quaerat similique deserunt nobis, dolores accusantium ipsa molestiae,
      sequi dicta quidem optio iusto amet molestias harum dolore nam perferendis
      reiciendis quis eveniet?
    </p>
    <app-test [name]="'Marry Janes'"></app-test>
    <app-test [name]="'Mark Janes'"></app-test>
    <app-test [name]="'Luke James'"></app-test>
    <app-test [name]="'Sara Williums'"></app-test>
  </app-child>
  <!-- <button (click)="showParaValue()">Show Value</button> -->
</div>
